version: '3.8'
services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: ${DB_NAME:-inventory_management_db}
      POSTGRES_USER: ${DB_USERNAME:-wms}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-wms}
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  app:
    build: .
    env_file:
      - .env
    environment:
      DB_URL: "jdbc:postgresql://db:5432/${DB_NAME:-inventory_management_db}"
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      SERVER_PORT: ${SERVER_PORT}
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    depends_on:
      - db

volumes:
  db-data:
