version: '3.8'
services:
  mysql:
    image: mysql:8.0
    container_name: order-db
    environment:
      MYSQL_ROOT_PASSWORD: acpt
      MYSQL_DATABASE: order_service_db
    ports:
      - "3307:3306" # Mapped to 3307 to avoid conflicts with local MySQL
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
    networks:
      - wms-network

  order-service:
    build: .
    container_name: order-service
    ports:
      - "8080:8080"
    environment:
      - DB_URL=jdbc:mysql://mysql:3306/order_service_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Colombo
      - DB_USERNAME=root
      - DB_PASSWORD=acpt
      - INVENTORY_SERVICE_URL=http://host.docker.internal:8080 # Points to host machine if Inventory Service is running there
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - wms-network

networks:
  wms-network:
    driver: bridge
